# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.exp
*.pdb

*.code-workspace
*.sln
*.vcxproj
*.filters
*.user
*.make
*.rc
.vscode/*
.history/*
obj/*
*.DS_Store
.vs/*
Makefile
Projet.xcconfig
UpgradeLog.htm
x64/*
!/models/**
!/images/**
*.xml
